# requirements.txt
# Usage: pip install -r requirements.txt

# Flask Framework
Flask

# Flask Packages
Flask-login
Flask-WTF

# Flask Dependencies
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click
blinker

# Optional flask dependencies
python-dotenv
greenlet

# Other packages
WTForms
email-validator
